<nav class="menu">
  <ul>
    <li>
      <a class="link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </li>
    <li class="menu-item">
      <a class="link" [routerLink]="['/schedule']" routerLinkActive="active">Schedule</a>
    </li>
    <li class="menu-item">
      <a class="link" [routerLink]="['/search/person']" routerLinkActive="active">Persons</a>
    </li>
    <li class="menu-item">
      <a class="link" [routerLink]="['/search/publication']" routerLinkActive="active">Publications</a>
    </li>
    <li class="menu-item">
      <a class="link" [routerLink]="['/search/organization']" routerLinkActive="active">Organizations</a>
    </li>
    <li class="menu-item">
      <a class="link" [routerLink]="['/about']" routerLinkActive="active">About</a>
    </li>
  </ul>
</nav>