/* Global variables to use in the rest of the scss */

$sidenav-background: rgb(48, 48, 48);
$application-background: rgba(250, 250, 250, 1);
$font-color-dark: rgba(0, 0, 0, 0.87);
$font-color-light: rgba(255, 255, 255, 0.87);